.navbar {
    width: 100%;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;
    float:inline-start;
  }
  
  .search {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    width: 100%;
    height: 40px;
    max-width: 400px;
    position: relative;
    margin-left: 20px;
  }
  
  .search-input {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }
  
  .search-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: scale(1.2);
  }
  
  .navbar-items {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-items div {
    display: inline;
    margin-right: 50px;
    padding-right: 10px;
  }
  
  .navbar-items div span {
    margin-right: 10px;
  }
  
  .navbar-items div svg.arrow {
    transform: scale(1.5) rotate(270deg);
  }
  
  .navbar-items div svg.cart {
    transform: scale(1.8);
    margin-right: 15px;
  }
  
  @media only screen and (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .navbar-items {
      margin-top: 15px;
    }
    .navbar-items div {
      margin-right: 10px;
    }
    .search {
      margin-left: 0;
    }
  }
  