.sidebar-container{
   background-color: #fff;
    display: flex;
    flex-direction: column;
    flex:0 0 25vw;
    padding:1.7rem 0.5rem;
    margin: 0.7rem 0.7rem 0.7rem 0 ;
    border-radius: 12px;
    box-shadow: rgba(63, 23, 23, 0.26) 0 10px 10px 3px, rgba(0,0,0,0.1) 0 10px 35px -1px;
}
.sidebar-filters{
    padding-left: 0.8rem;
}
.filterLabel{
    margin:1rem 0 0.3rem;
}
.checkboxContainer{
    padding: 0.1rem 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}