@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Nunito Sans';
}
.App-header{
    position:-webkit-sticky;
    position:sticky;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    width:100vw;
}
main {
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 238, 238);
}
